.Moderate {
    background-color: #FDAF75;
    border: 1px solid #F76E11;
    color: white;
    border-radius: 25px;
    padding: 3px 7px 5px 8px;
}


.Important {
    background-color: #FFA8A8;
    border: 1px solid #E83A14;
    color: white;
    border-radius: 25px;
    padding: 3px 7px 5px 7px;
}


.Later {
    background-color: #85C88A;
    border: 1px solid #019267;
    color: white;
    border-radius: 25px;
    padding: 3px 7px 5px 7px;
}

.completed {
    background-color: #84DFFF;
    border: 1px solid #1572A1;
    color: white;
    border-radius: 25px;
    padding: 3px 7px 5px 7px;
    margin-left: 5px;
}

.components {
    display: flex;
    justify-content: space-between;
}

.del-btn {
    margin-left: 5px;
}

.striked {
    text-decoration: line-through;
}

.tasks-header {
    display: flex;
    justify-content: space-between;
}

option {
    text-align: left;
}